<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>


<form id="edit-form" th:action="@{/book(id=${book?.id})}" th:method="post" th:object="${book}">
    <!--<form class="row g-3 needs-validation" th:action="@{/book}" th:object="${updateForm}" method='post'>-->
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book?.id}"/>
    </div>
    <div class="row">
        <label for="holder-input">Name:</label>
        <input id="holder-input" name="name" type="text" th:value="${book?.name}"/>
    </div>
    <div class="row">
        <label for="holder-input">Author:</label>
        <select name="authorId" id="authorId">
            <option th:each="a : ${authors}" th:selected="${a.id == book?.author?.id}" th:value="${a.id}" th:text="${a.name}">
            </option>
        </select>
    </div>
    <div class="row">
        <label for="holder-input">Genre:</label>
        <select name="genreId" id="genreId">
            <option th:each="g : ${genres}" th:selected="${g.id == book?.genre?.id}" th:value="${g.id}" th:text="${g.name}">
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

<table class="comments" th:if="${book?.id} != null and ${book?.id} != ''">
    <thead>
    <tr>
        <th>Author</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script th:inline="javascript">
    $(function () {
        $.get('/api/comments?bookId=' + [[${book?.id}]]).done(function (comments) {
            comments.forEach(function (comment) {
                $('tbody').append(`
                    <tr>
                        <td>${comment.authorName}</td>
                        <td>${comment.comment}</td>
                    </tr>
                `)
            });
        })
    });
</script>
</body>
</html>
