<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список комментариев</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="~{navbar :: navi(bookList)}"/>

<div class="container">

    <span th:if="${comments.size() == 0}">Комментариев нет</span>

    <div th:unless="${comments.size() == 0}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Автор</th>
                <th scope="col">Комментарий</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment, i : ${comments}"
                th:attr="comment_index=${comment.id}">
                <th scope="row" th:text="${i.count}"></th>
                <td th:text="${comment.getAuthorName()}"></td>
                <td th:text="${comment.getComment()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{footer :: footerBlock}"/>

</body>
</html>